.add-book-form {
    border: 1px lightseagreen solid;
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.cover-title {
    text-align: center;
    margin-bottom: 20px;
}

.cover-area {
    margin-top: 100px;
    border: solid lightgray 1px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.cover {
    text-align: center;
    margin-bottom: 20px;
    height: 200px;
    margin-top: 0;
}

.page-title {
    text-align: center;
    margin-bottom: 35px;
}

.url-form {
    margin-right: 10px;
    margin-left: 10px;
}